.App {
  font-family: sans-serif;
  min-height: 100vh;
}

footer {
  position: fixed;
  background-color: rgb(213, 195, 195);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: center;
}
